*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('ToDoList.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task-container{
    width: 320px;
    background-color: transparent;
    border: solid 3px white;
    padding: 20px 10px;
    margin-bottom: 20px;
    display: flex;
}

#input{
    flex: 5;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.2rem;
}

#add-task{
    font-size: 1.1rem;
    padding: 5px;
    flex: 1;
    background-color: grey;
    color:yellow;
    border-radius: 10px;
    
}


#add-task:hover{
    background-color: black;
}

.task{
    width: 100%;
    background-color: transparent;
    border: solid white 2px;
    display: flex;
    padding: 15px 5px;
    margin-right: 10px;
    font-size: 1.2rem;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
}

.task li{
    font-size: 1.2rem;
    margin: 5px;
    padding: 5px;
    list-style: none;
    flex: 4;
}

.task button{
    flex: 1;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
}

.task .checktask{
    color: green;
    background-color: transparent;
    font-size: 1.3rem;
}

.task .deltask{
    color: red;
    background-color: transparent;
    font-size: 1.3rem;
}

.task .checktask:hover{
    background-color: green;
    color: white;
}

.task .deltask:hover{
    background-color: red;
    color: white;
}