/*Default Styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Body Styles*/
body{
    height: 100vh;  /*sets the height of the body element to 100% of the viewport height. This means the body will cover the entire height of the screen.*/
    /*Background Image properties*/
    background-image: url("countdown.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*Content styling */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    /*Styling the container*/
    background-color: transparent;
    height: 300px;
    width: 50%;
    border-radius: 20px;
    border: solid white 3px;
}

.timer{
    /*Styling the timer*/
    font-size: 5.6rem;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    color: aliceblue;
}
.buttons{
    /*Styling the .buttons div which include both buttons*/
    text-align: center;
}

button{
    /*Styling each button*/
    margin:0 10px ;
    border: none;
}

button i{
    /*Styling icons*/
    font-size: 2.5rem;
    padding: 10px;
    color: aliceblue;
    width: 55px;
}
/*Buttons styling*/
#playbtn{
    background-color: green;
}
#stopbtn{
    background-color: red;
}
#resetbtn{
    background-color: orange;
}