/* general style template */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Flex to adjust the box in middle 
height to keep content on page*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url("Images/Library.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
/*To make container rigid so that it will not expand beyond set boundries*/
.container{
    height: 500px;
    width: 450px;
}
.heading{
    font-size: 1.2rem;
    color: white;
    border: solid 2px white;
    background-color: #262626;
    width: 80%;
    padding: 5px;
    margin: 20px auto;
    border-radius: 20px 1px;
}
.main-content{
    width: 100%;
    height:auto;
    background-color: aliceblue;
    border-radius:15px ;
    padding: 50px 40px;
    box-shadow: 0 10px 10px;
}

.main-content .text-area{
    font-size: 1.5rem;
    line-height: 1.5;
}

.main-content .person{
    font-size: 1.6rem;
    color: tomato;
    text-transform: uppercase;
    margin-top: 20px;
}
button{
    background-color: #262626;
    color: aliceblue;
    padding: 10px 15px;
    font-size: 1.1rem;
    margin-top: 20px;
    border-radius: 5px;
}

button:active{
    background-color: lightblue;
}