/*Default styles*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} 
/*Body styles*/
body{
    /*Image*/
    background-image: url('images/question.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    /* display */
    display: flex;
    justify-content: center;
    align-items: center;
}
/*main container styles*/
.faq{
    width: 65%;
    background-color: aliceblue;
    padding: 30px;
    border-radius: 30px;
}
/*Title styles*/
.faq .faq-title{
    margin-bottom: 30px;
    text-align: center;
}
/*Question styles*/
.faq .content-container .question{
    padding: 18px 0px;
    font-size: 1.3rem;
    cursor: pointer;
    border-bottom: solid 1px black;
    position: relative;
}
/*adding content to question */
.faq .content-container .question::after{
    content: '+';
    position: absolute;
    right: 5px;
}
/*Answer styles*/
.faq .content-container .answer{
    padding-top: 15px;
    font-size: 22px;
    line-height: 1.5;
    width: 100%;
    height: 3px;
    overflow: hidden;
    transition:  0.5s;
}
/*Answer styles after applying JavaScript*/
.faq .content-container.change .answer{
    height: 150px;
}
/*question styles after applying JavaScript*/
.faq .content-container.change .question{
    font-size: 1.1rem;
    transition: 0.5s;
}
/*question styles after opening answer div*/
.faq .content-container.change .question::after{
    content: '-';
    font-size: 1.1rem;
    transition: 0.5s;
}